<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">

	</head>
	
	<body style="margin:10; padding:0;">
		<div class="container">
			<div class="dropdown menu">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index">Home</li>
						<li><a href="/newEntry">New Entry</li>
						<li><a href="/progress">Progress</li>
					</ul>
			</div>

			<div>
        		<h2 style="font-size:150%; margin:30px; text-align:center;"> 2017 </h2>
       		</div>

       		<div class="record">
				<a href = "/index">
					<img src = "images/main1.png" width="400">
				</a>

				<a href ="/index">
					<img src = "images/main2.png" width="400">
				</a>
			</div>
				       		

			<a href = "/newEntry">
				<img src = "images/Plus.png" class="plus" style = "position: absolute; right: 20px; bottom: 60px;">
			</a>


		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		
		<script src="js/bootstrap.js"></script>



	</body>

</html>


