<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	
		<link href="https://fonts.googleapis.com/css?family=Caveat|Caveat+Brush|Overlock|Patrick+Hand|Schoolbell" rel="stylesheet">

	</head>
	
	<body style="background-color:#E6F3CA" >


		<div class="container">
			<div style = "position: center" >
				<a href="/index">
					<img src="images/back button.png" class="back">
				</a>

				<span class="date">Information</span>

				<span class="dropdown menu hamburger">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index"> Home </a></li>
						<li><a href="/login"> Logout </a></li>
					</ul>
				</span>
			</div>

				<div class = "info">
					<center><img src="images/big.png" id="breathingMarimon"style="width: 100px; height:100px; text-align:center; padding:10px;"></center>
					<h4 style="text-align:center; font-family: 'Schoolbell', cursive;"> "Marimon is happy when you're happy."</h4> 
					<br>
					<p style="font-family: 'Overlock', cursive;"> Introducing Marimon! Marimon is inspired from moss ball. Tell Marimon how you are feeling, how you're day has been, etc. You can also catch your breathe with Marimon.</p>
					<br>
					<h4 style="font-family: 'Schoolbell', cursive;">Can't make up your mind?</h4>
					<p style="font-family: 'Overlock', cursive;">Ask Marimon to help you decide on your to do list by starting an entry with the words, "to do". For example: to do: exercise, meditate, organize workspace </p>

					<!--<br/><br/> Need to vent? <br/> Tell Marimon how you are feeling, how you're your day has been, etc. <br/><br/> Stressed out? <br/> Catch your breathe with Marimon. <br/><br/> Can't make up your mind? <br/> Ask Marimon to help you decide on your to do list by starting an entry with the words, "to do", for example: to do: exercise, meditate, organize workspace </float>-->
				</div>
		</div> <!-- containers -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/chat.js"></script>
		<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92553734-2', 'auto');
  ga('send', 'pageview');

</script>


	</body>

</html>

