<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	

	</head>
	
	<body style="background-color:#E6F3CA" >

		<div class="container">

			<a href="/index">
				<img src="images/back button.png" class="back">
			</a>
			<span class="date">1/25/2017</span>
			<a href="/menu">
				<img src="images/Hamburger menu.png" class="hamburger">
			</a>
		
			<div align="center">
				<a href="#">
          			<span id="leftMonth" class="glyphicon glyphicon-menu-left"></span>
        		</a> 

        		<span style="font-size:150%"> January </span>

       			<a href="#">
         			<span id ="rightMonth" class="glyphicon glyphicon-menu-right"></span>
        		</a>
       		</div>


       		<div class="question chat">
       			<img src="images/Marimon face.png" style="width:80px; height:80px">
       			<span> How are you feeling today? </span>
       		</div>

       		<div class="answer chat">
       			<span> I'm feeling great</span>
       		</div>


  			{{#each messages}}
  			<div class = "chatbox" >
       			<img src="{{icon}}" style="width:80px; height:80px">
  				<div class="{{type}} chat">
       				<span> {{message}} </span>
       			</div>
  			</div>
  			{{/each}}

			
			<a href = "/question">
				<img src = "images/Plus.png" class="plus-entry" style="position: absolute; right: 10px; bottom:44px; margin:10;">


       		<div class="input-group responsive" style= "position: absolute; min-width: 400px; max-width: 80%; bottom: 5px; padding-left: 44px;">
       			<input type="text" class="form-control" placeholder="Type your entry...">
       			<span class="input-group-btn" >
    				<button class="btn" type="button">Send</button>
    			</span>

		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/chat.js"></script>
	</body>

</html>
