<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	

	</head>
	
	<body style="background-color:#E6F3CA" >

		<div class="container">
			<div style = "position:center" >
				<a href="/index">
					<img src="images/back button.png" class="back">
				</a>

				<span class="date">1/25/2017</span>
				

				<span class="dropdown menu hamburger">
					<img src="images/Hamburger menu.png" class="hamburger dropdown-toggle" type="button" data-toggle="dropdown">
					<ul class="dropdown-menu">
						<li><a href="/index"> Home </a></li>
						<li><a href="/newEntry"> Delete </a></li>
						<li><a href="/login"> Logout </a></li>
					</ul>
				</span>
			</div>

       		<div id = "messagecontainer">
  			{{#each messages}}
  			<div class = "chatbox" >
  				<div class="{{type}} chat">
  					<img src="images/{{num}}.png">
       				<span> {{message}} </span>
       			</div>
  			</div>
  			{{/each}}
  			</div>


  			<div id = "addQuestion" class="question">
				<input type = "image" img id= "me" src="images/question.png" style = "position: absolute; right: 16px; bottom: 16px; max-width: 60px; max-height:60px;">
			</div>


			<div class="entry">
				<button id="sendBtn" href= "#" class="btn" type="button" style="float:right" >Send</button>
				<div style="overflow: hidden; padding-right: .5em;">
   					<input id="inputMessage" type="text" class="form-control" name="typedMessage" placeholder="Type your entry..."/>
				</div>​
  			</div>


		</div> <!-- containers -->

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/chat.js"></script>
		<script type="text/javascript" src="qlist.json></script>


	</body>

</html>

