<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/marimon.css" rel="stylesheet">	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
		

	</head>
	
	<body style="margin:10; padding:0; background-color:#E6F3CA" >

		<div class="container">

			<a href="/index">
				<img src="images/back button.png">
			</a>
			<a href="/menu">
				<img src="images/Hamburger menu.png" style="float:right">
			</a>
		
			<div align="center">
				<a href="#">
          			<span class="glyphicon glyphicon-menu-left"></span>
        		</a> 

        		<span style="font-size:150%"> January </span>

       			<a href="#">
         			<span class="glyphicon glyphicon-menu-right"></span>
        		</a>
       		</div>

       		<div class="chat">
       			<img src="images/Marimon face.png" style="width:80px; height:80px">
       			<span style="font-size:150%;"> How are you feeling today? </span>
       		</div>

       		<div class="input-group">
       			<input type="text" class="form-control" placeholder="Type your entry">
       			<span class="input-group-btn">
    				<button class="btn" type="button">Send</button>
    			</span>
  			</div>


       		<a href = "/question">
				<img src = "images/Plus.png" style="float:right">
			</a>



		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>


	</body>

</html>
