<html>

	<head>
		<title>Marimon</title>

		<meta charset="utf-8">
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">

		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/bootstrap.css" rel="stylesheet"> 
		<link href="css/hci-friends.css" rel="stylesheet">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


	</head>
	
	<body>
		<div class="container">

			<a href="/index">
				<img src="images/back button.png">
			</a>
			<a href="/menu">
				<img src="images/Hamburger menu.png" style="float:right">
			</a>
		
			<div align="center">
				<a href="#">
          			<span class="glyphicon glyphicon-menu-left"></span>
        		</a> 

        		<h3> January </h3>

       			<a href="#">
         			<span class="glyphicon glyphicon-menu-right"></span>
        		</a>
       		</div>

       		<div class="chat">
       			<img src="images/Marimon face.png" style="width:70px; height:70px">
       			<span style="font-size:150%;"> How are you feeling today? </span>
       		</div>

       		<div class="form-group">
   				<label for="exampleTextarea"></label>
    			<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>

  			</div>


       		<a href = "#">
				<img src = "images/Plus.png" style="float:right">
			</a>



		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/hci-friends.js"></script>

	</body>

</html>
