.chewy{
	font-family: 'Chewy', cursive;
}

#messagecontainer{
  overflow: auto;
  margin: all;
  height: 82%;
  min-width: 100%;
  padding-bottom: 15%;
}



.form-group{
  position: center;
  height: relative;
  width: relative;
    
}

.top{
  background-color: #E6F3CA;
}


.answer span {
  float: right;
  margin-left: 70px;
  margin-top:20px;
  text-align: right;
  padding-right:20px;
}

.question span {
  margin-left: 30px;
  margin-top:50px;
  text-align: right;
  padding-right:20px;
}



.chat{
  font-size:100%;
}


.chatbox{
  padding-bottom: 12px;
}

.hamburger{
  float: right;
  padding:10px;
}

.back{
  padding:20px;
}

.logincontainer{
  padding-top: 20%;
}


.date{
  font-size: 20px;
  margin: auto;
  padding-left: 20px;
}

.record{
  position:absolute;
  height: auto;
  margin: auto;
  text-align: center;
}


.plus-entry{
  position: absolute;
  right: 20px;
  bottom: 60px;
  padding: 4px;
  border: 4px;
   
}

.entry{
  float: left;
  position: absolute;
  bottom: 0px;
  min-width: 65%;
  padding: 4px;
  border: 4px;
   
}


.addQuestion {
position: right;
}


.info{
  overflow: auto;
  margin: all;
  height: 80%;
  min-width: 100%;
}

.number{
  float:left;
}



#breathingMarimon {
  width: 40px;
  padding: 4px; 
  border: 4px;
  animation: breathing 8s ease-out infinite normal;
  border-radius: 3px;
  text-align: center;
}




@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(.9);
 
  }

  25% {
    -webkit-transform: scale(1.2);
   
  }

  50% {
    -webkit-transform: scale(1.2);
  }

  75% {
    -webkit-transform: scale(.9);

  }


  100% {
    -webkit-transform: scale(.9);
  }
}


.answer span {
  position:relative;
  padding:10px 20px;
  color:white; 
  background:orange;
  border-radius:15px;
  float: right;
  max-width: 70%;

    

}
.question span {
  position:relative;
  padding:10px 20px;
  background:#E5E5EA;
  border-radius:15px;
  color: black;
  max-width: 70%;

 

}




